* {
  box-sizing: content-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: grey;
}

.app {
  padding: 20px;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  gap: 5px;
  background-color: black;
  padding: 10px;
  max-width: 500px;
}
